<div class="container">
<div class="profile-card">
  <div class="profile-card__inner">
  <div class="profile-thumb">
    <img src="https://obl-life.com/wordpress/wp-content/uploads/2019/06/obl_icon-red.jpg" alt="アイコン">
  </div>
  <div class="profile-content">
        <span class="profile-name">おぶり</span>
    <span class="profile-job">デザイナー・フロントエンジニア</span>
    <span class="profile-intro">福岡在住のフリーランスデザイナーです。アウトドアからインドアな趣味を楽しく・簡単・便利をモットーに雑記ブログを書いています。</span>
  </div>
    </div>
</div>