<div class="container">
<h3 class="subtitle-schedule"><%=@post.depature_date%>
</h3>
<dl class="schedule-item">
<dt class="title">
<time><%=@post.depature_time.strftime("%I:%M %p") %></time></dt>
<dd class="content">
<div class="summary"><%=@post.schedule%></div></dd>
</dl>
</div>