// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
    margin: 0;
    
}
ul,li{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container{
    padding-top: 100px;
    text-align: center;
}

ul.sidenav {
    height: 100%;
    width: 240px;
    position: fixed;
    top: 0;
    left: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	
	background-color: #f1f1f1;
	
	overflow: auto;
}
ul.sidenav li a {
	display: block;
	color: #000000;
	padding: 8px 16px;
	text-decoration: none;
}
ul.sidenav li a.active {
	background-color: #ff8a70;
	color: white;
}
ul.sidenav li a:hover:not(.active) {
	background-color: #1b2538;
	color: white;
}
div.content {
	margin-left: 25%;
	padding: 1px 16px;
	height: 1000px;
}
@media screen and (max-width: 900px) {
	ul.sidenav {
		width: 100%;
		height: auto;
		position: relative;
	}
	ul.sidenav li a {
		float: left;
		padding: 15px;
	}
	div.content {
		margin-left: 0;
	}
}
@media screen and (max-width: 480px) {
	ul.sidenav li a {
		text-align: center;
		float: none;
	}
}


.form-style-6{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
    background: #F7F7F7;
    border-radius: 20px 20px 0px 0;
}
.form-style-6 h1{
	background: #ff8a70;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
    margin: -16px -16px 16px -16px;
    border-radius: 20px 20px 0px 0;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select 
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
	box-shadow: 0 0 5px #ff8a70;
	padding: 3%;
	border: 1px solid #ff8a70;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #ff8a70;
	border-bottom: 2px solid #ff8a70;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
	background: #ff8a70;
}




/*プロフィール作成*/
/* cyrillic-ext */
.profile-card{
    width: 100%;
    max-width:300px;
    position: relative;
    background: #fff; /*背景の色*/
    box-shadow: 0px 1px 3px rgba(0,0,0,.18);
    overflow: hidden;
  }
  
  .profile-card:before{
   width:120%;
   height:100px;
   content:"";
   transform:skew(15deg,10deg);
   background: #70b7ff; /*斜め背景の色*/
   position:  absolute;
   top:-15%;
   left:-10%;
   z-index: 0;
  }
  
  .profile-card__inner{
   position: relative;
  }
  
  .profile-thumb{
      overflow: hidden;
      width: 110px;
      height: 110px;
      border: #fff 3px solid;
      border-radius: 55px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      background: #fff;
  }
.profile-thumb img{
    display: block;
      width: 100%;
      height: auto;
  }
  
  .profile-content{
    padding: 15px;
  }
  
  .profile-content span{
    display: block;
  }
  
  .profile-name{
    margin-bottom: 3px;
    font-weight: bold;
    text-align: center;
  }
  
  .profile-job{
    margin-bottom: 10px;
    color: #ccc;
    font-size: 10px;
    text-align: center;
  }
  
  .profile-intro{
    font-size: 12px;
  }
  /*-スケジュール*/
  .subtitle-schedule {
    padding-top: 14px;
    background-color: #fff;
    color: #21252B;
    margin-left: 320px;
    width: 72px;
    height: 72px;
    border: 4px solid #21252B;
    border-radius: 50%;
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
    
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 16px;
    letter-spacing: 1px;
    text-indent: 1px;
    break-inside: avoid;
    padding-bottom: 1px;
}

 .schedule-item{
   margin-top: -14px;
   width: 0%;
 }
.schedule-item > .title {
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
  width: 100px;
  float: left;
  clear: both;
  min-height: 1em;
  padding-top: 6px;
  padding-left: 250px;
}

.schedule-item > .content {
  min-height: 3em;
  position: relative;
  margin-left: 354px;
  padding: 6px 0 .2rem 12px;
  border-left: 4px solid #13b1f1;
  z-index: 0;
  
}
dl {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
dt {
  display: block;
}

.content::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 4px solid #21252b;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  top: 8px;
  background-color: #fff;
}